@font-face {
  font-family: 'Montserrat Regular';
  src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../font/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../font/Montserrat-Medium.ttf') format('truetype');
}

$font-style-regular: 'Montserrat Regular',
sans-serif;
$font-style-medium: 'Montserrat Medium',
sans-serif;
$font-style-semi-bold: 'Montserrat Semi Bold',
sans-serif;
$font-style-bold: 'Montserrat Bold',
sans-serif;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$text-color-main: #00254d;
$text-color-2: #2c4b6c;
$text-color-3: #8ea5bd;
$text-color-4: #aac1da;
$accent-main: #3DAA62;
$accent-2: #42B6F6;
$accent-3: #3D62AA;
$accent-4: #4BCACA;
$accent-white: #ffffff;
$accent-warning: #EB5757;
$accent-alert: #F58624;
$line: 1px solid #e4ecf2;
$main-background: rgba(61, 170, 98, .1);
$light-background: #edf3f8;
$white-background: #ffffff;
$black-background: #000000;
$box-shadow: 0px 10px 40px rgba(79, 104, 131, .1);
$hover-background: #F8FAFC;
$text-line: 25px;
//default colors
$redasdasd: #E53935;
$colors: () !default;

$colors: map-merge(("text-color-main": $text-color-main,
        "text-color-2": $text-color-2,
        "text-color-3": $text-color-3,
        "text-color-4": $text-color-4,
        "accent-main": $accent-main,
        "accent-2": $accent-2,
        "accent-3": $accent-3,
        "accent-4": $accent-4,
        "accent-white": $accent-white,
        "accent-warning": $accent-warning,
        "accent-alert": $accent-alert,
),
        $colors);
